.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 20px dotted rgba(0, 0, 0, 0.2);
    border-top: 20px dotted #007bff;
    border-radius: 50%;
    width: 100px;
    height:100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }